<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>SignUp/LogIn/LogOut</a>
    <ng-template ngbNavContent>
      <app-auth-signup></app-auth-signup>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Post - CRUD</a>
    <ng-template ngbNavContent>
      <app-post></app-post>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Upload Image</a>
    <ng-template ngbNavContent>
      <app-upload-images></app-upload-images>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>


