<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>SignUp/LogIn/LogOut</a>
    <ng-template ngbNavContent>
      <app-auth-signup></app-auth-signup>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Post - CRUD</a>
    <ng-template ngbNavContent>
      <app-post></app-post>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Upload Image</a>
    <ng-template ngbNavContent>
      <app-upload-images></app-upload-images>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Input output emitter</a>
    <ng-template ngbNavContent>
      <app-parent (FiredIncrementNum)='OnFiredIncrementNum($event)' [messageFromChild] = 'message' ></app-parent>
      <app-child [number]='rootNum' (fireSendMessage)='onFiredMessage($event)' ></app-child>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink>View Child</a>
    <ng-template ngbNavContent>
      <app-view-child-comp></app-view-child-comp>
    </ng-template>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink>Behavier Subject</a>
    <ng-template ngbNavContent>
      <app-behavier-subject></app-behavier-subject>
      <app-behave-child></app-behave-child>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>


